@import url(header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

h1 { font: var(--h1); line-height: 58px; }
h2 { font: var(--h2); line-height: 50px; }
h3 { font: var(--h3); }
h4 { font: var(--h4); letter-spacing: 0.5px; }
h5 { font: var(--h5); }
p,ul {font: var(--paragrafo1);}

body{
  background-color: var(--backgroundColor);
}

:root {
  --backgroundColor: #131C21;
  --sectionColor: #10191E;
  --textColor40: #6D7376;;
  --textColor70: #f9f9fbb4;
  --detalhes: #2B3439;
  --txtPaginaInicial: #2b3439b3;


  --libre-baskerville: 'Libre Baskerville', sans-serif;
  --league-spartan: "League Spartan", sans-serif;

  --h1: 400 54px var(--league-spartan);
  --h2: 400 40px var(--league-spartan);
  --h3: 200 34px var(--league-spartan);
  --h4: 400 17px var(--league-spartan);
  --h5: 200 14px var(--league-spartan);
  --paragrafo1: 400 14px/30px var(--libre-baskerville);
  --paragrafo1Bold: 700 14px/30px var(--libre-baskerville);
  --paragrafoContainer: 400 12px/20px var(--libre-baskerville);
  --button: 300 20px var(--league-spartan);
  --placeholder: 400 12px var(--libre-baskerville);
  --btnEnviar: 600 24px/30px var(--league-spartan);
  --header : 300 17px var(--league-spartan);
  --divText: 300 15px var(--league-spartan);
  --quizQuestion: 300 30px var(--league-spartan);
}