* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--backgroundColor);
}

.app {
  background-color: var(--sectionColor);
  width: 90%;
  max-width: 62.5rem;
  margin: 1.875rem auto 0;
  padding: 1.875rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.app h2 {
  font: var(--quizQuestion);
  color: var(--quizTitleColor);
  text-align: center;
  margin-block: 1.875rem 1.25rem;
  padding-bottom: 1.875rem;
  border-bottom: 0.0625rem solid #333;
}

.app h3 {
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1.25rem;
}

#progress-container {
  width: 100%;
  height: 0.625rem;
  background-color: var(--progressBgColor);
  border-radius: 0.3125rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--progressBarColor);
  transition: width 0.3s ease-in-out;
}

#progress-text {
  text-align: center;
  margin-top: 0.625rem;
}

.quiz {
  padding: 1.25rem 0;
}

#question {
  color: var(--white);
}

.btn {
  font: var(--h5);
  background-color: var(--detalhes);
  color: var(--white);
  width: 100%;
  height: 3.75rem;
  padding: 0.625rem;
  margin: 0.625rem 0;
  text-align: left;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
}

.btn:hover:not([disabled]) {
  background: var(--btnHoverBg);
  color: var(--white);
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background-color: var(--sectionColor);
  border: 0.0625rem solid var(--white);
  color: var(--white);
  font-weight: 500;
  height: 3.125rem;
  width: 9.375rem;
  padding: 0.625rem;
  margin: 2.5rem auto 0;
  border-radius: 1.25rem;
  cursor: pointer;
  display: none;
}

.correct {
  background-color: var(--correctBg);
}

.incorrect {
  background-color: var(--incorrectBg);
}